<div class="page-header">
  <h1>
    Update Actor #<%= @actor.id %>
  </h1>
</div>

<form class="form-horizontal" action="/update_actor/<%= @actor.id %>">

  <!-- label and input for name -->
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">
      Name
    </label>
    <div class="col-sm-10">
      <input type="text" id="name" name="name" value="<%= @actor.name %>" class="form-control">
    </div>
  </div>

  <!-- label and input for bio-->
  <div class="form-group">
    <label for="bio" class="col-sm-2 control-label">
      Bio
    </label>
    <div class="col-sm-10">
      <input type="text" id="bio" name="bio" value="<%= @actor.bio %>" class="form-control">
    </div>
  </div>

  <!-- label and input for date of birth-->
  <div class="form-group">
    <label for="dob" class="col-sm-2 control-label">
      Date of Birth
    </label>
    <div class="col-sm-10">
      <input type="text" id="dob" name="dob" value="<%= @actor.dob %>" class="form-control">
    </div>
  </div>

  <!-- label and input for Image URL-->
  <div class="form-group">
    <label for="image_url" class="col-sm-2 control-label">
      Image URL
    </label>
    <div class="col-sm-10">
      <input type="text" id="image_url" name="image_url" value="<%= @actor.image_url %>" class="form-control">
    </div>
  </div>

  <!-- button to create actor record-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Actor" class="btn btn-primary">
    </div>
  </div>


</form>
