<div class="page-header">
  <h1>
    Update Movie
  </h1>
</div>

<form class="form-horizontal" action="/create_movie">

  <!-- label and input for title -->
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">
      Title
    </label>
    <div class="col-sm-10">
      <input type="text" id="title" name="title" placeholder="<%= @movie.title %>" class="form-control">
    </div>
  </div>

  <!-- label and input for year-->
  <div class="form-group">
    <label for="year" class="col-sm-2 control-label">
      Year
    </label>
    <div class="col-sm-10">
      <input type="text" id="year" name="year" placeholder="<%= @movie.year %>" class="form-control">
    </div>
  </div>

  <!-- label and input for duration-->
  <div class="form-group">
    <label for="duration" class="col-sm-2 control-label">
      Duration
    </label>
    <div class="col-sm-10">
      <input type="text" id="duration" name="duration" placeholder="<%= @movie.duration %>" class="form-control">
    </div>
  </div>

  <!-- label and input for description-->
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">
      Description
    </label>
    <div class="col-sm-10">
      <textarea id="description" name="description" placeholder="<%= @movie.description %>" class="form-control" rows="3"></textarea>
    </div>
  </div>

  <!-- label and input for Image URL-->
  <div class="form-group">
    <label for="image_url" class="col-sm-2 control-label">
      Image URL
    </label>
    <div class="col-sm-10">
      <input type="text" id="image_url" name="image_url" placeholder="<%= @movie.image_url %>" class="form-control">
    </div>
  </div>

  <!-- button to create movie record-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Movie" class="btn btn-primary">
    </div>
  </div>


</form>
